################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OfflineSyncDemo/.vs/OfflineSyncDemo/FileContentIndex/30cf6250-ebe6-463d-b9af-aa22b2712033.vsidx
/OfflineSyncDemo/.vs/OfflineSyncDemo/FileContentIndex/ac8fce4b-3295-49be-87e1-d4c5edf048d7.vsidx
